In [1]:
#Importando biblioteca pandas:
import pandas as pd

In [2]:
#Importando base de dados:
dados_Banco = pd.read_csv("infoBanc.csv", sep = ";")

In [3]:
#Observando base de dados:
dados_Banco.head()

   Id Estado    Genero  Idade
0   1     RS  Feminino     42
1   2     SC  Feminino     41
2   3     RS  Feminino     42
3   4     RS  Feminino     39
4   5     SC  Feminino     43

In [4]:
#Verificando se existe alguma duplcidade de "Id" que é código único do cliente:
dados_Banco[dados_Banco.duplicated(["Id"], keep = False)]

    Id Estado    Genero  Idade
80  81     RS  Feminino     34
81  81     RS  Feminino     34

In [5]:
#Excluindo a duplicidade pelo Id:
dados_Banco.drop_duplicates(subset = "Id", keep = "first", inplace = True)

In [6]:
#Verificando se alguma das colunas possuem valores NAN:
dados_Banco.isnull().sum()

Id        0
Estado    0
Genero    8
Idade     0
dtype: int64

In [7]:
#Agrupando as informações relativas a coluna "Estado" para verificar se existe algum sigla errada e a quantidade ocorrencias:
agrupado_Estado = dados_Banco.groupby(["Estado"]).size()
agrupado_Estado

Estado
PR    257
RP      1
RS    477
SC    258
SP      4
TD      1
dtype: int64

In [8]:
#Substituindo as siglas de Estado não existentes pela sigla moda:
dados_Banco.loc[dados_Banco["Estado"].isin(["RP", "TD"]), "Estado"] = "RS"

In [9]:
#Agrupando as informações relativas a coluna "Genero" para verificar se existe alguma defasagem e a quantidade ocorrencias:
agrupado_Genero = dados_Banco.groupby(["Genero"]).size()
agrupado_Genero

Genero
F              2
Fem            1
Feminino     460
M              6
Masculino    521
dtype: int64

In [10]:
#Substituindo valor NAN da categoria "Genero" pela moda:
dados_Banco["Genero"].fillna("Masculino", inplace = True)

In [11]:
#Coluna "Genero" esta preenchida de maneira despradronizada, iremos padronizar:
dados_Banco.loc[dados_Banco["Genero"] == "M", "Genero"] = "Masculino"
dados_Banco.loc[dados_Banco["Genero"].isin( [ "Fem", "F"]), "Genero"] = "Feminino"

In [12]:
#grupando coluna "Genero" por pelas classificações para verificar se as alterações foram feitas corretamente:
agrupado_Genero =dados_Banco.groupby(["Genero"]).size()
agrupado_Genero

Genero
Feminino     463
Masculino    535
dtype: int64

In [13]:
#Observando informações estatisticas da coluna de idade (dado numerico):
dados_Banco["Idade"].describe()

count    998.000000
mean      38.907816
std       11.406570
min      -20.000000
25%       32.000000
50%       37.000000
75%       44.000000
max      140.000000
Name: Idade, dtype: float64

In [16]:
#Ajustando as idades fora do dominio:
#Visualizando dados em que a coluna idade é menor que 0 e maior que 120:
dados_Banco.loc[(dados_Banco["Idade"] < 0) | (dados_Banco["Idade"] > 120)]

      Id Estado     Genero  Idade
867  869     RS   Feminino    -10
984  986     RS  Masculino    -20
990  992     RS  Masculino    140

In [19]:
#Calculando a mediana da idade:
mediana_Idade = dados_Banco["Idade"].median()
mediana_Idade

37.0

In [20]:
#Substituindo idades fora do dominio pela mediana:
dados_Banco.loc[(dados_Banco["Idade"] < 0 ) | (dados_Banco["Idade"] > 120), "Idade"] = mediana_Idade

In [23]:
#Colocando dados modificados em um novo CSV:
dados_Banco.to_csv('novo_arquivo.csv', index=False)